<%= form_with(model: api_key) do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>
  <% if api_key.errors.any? %>
    <div class="notification is-danger" id="error_explanation">
      <p><%= pluralize(api_key.errors.count, t('views.api_keys.error')) %> <%= t('views.api_keys.prohibited') %> <%= t('views.api_keys.saving') %>:</p>

      <ul>
        <% api_key.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "#{t('views.api_keys.create_update')}", class: "button is-primary" %>
  </div>
<% end %>
