<h2 class="title"><%= t('views.devise.registrations.edit') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %><br />
    <div class="control">
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('views.devise.registrations.currently_waiting_confirmation', unconfirmed_email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, class: "label" %> <i>(<%= t('views.devise.registrations.leave_blank') %>)</i><br />
    <div class="control">
      <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
    </div>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('views.devise.registrations.minimum_password_length', minimum_password_length: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %><br />
    <div class="control">
      <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :current_password, class: "label" %> <i>(<%= t('views.devise.registrations.current_password') %>)</i><br />
    <div class="control">
      <%= f.password_field :current_password, class: "input", autocomplete: "current-password" %>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <div class="control">
          <%= f.submit t('views.devise.registrations.update'), class: "button is-primary is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h3><%= t('views.devise.registrations.language') %></h3>

<%= form_for(resource, url: user_path(resource), html: { class: "form" }) do |f| %>
  <div class="field">
    <%= f.label :locale, class: "label" %>
    <div class="control">
      <%= f.select :locale, I18n.available_locales, {}, class: "select" %>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <div class="control">
          <%= f.submit t('views.devise.registrations.update'), class: "button is-primary is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h3><%= t('views.devise.registrations.cancel_account') %></h3>

<div><%= t('views.devise.registrations.unhappy', registration_path: registration_path(resource_name)) %></div>

<%= link_to t('views.devise.registrations.back'), :back %>
