<div class="columns">
  <div class="column">
    <h1 class="title"><%= t('views.domains.title') %></h1>
  </div>
  <div class="column is-flex is-flex-direction-row-reverse">
    <%= link_to t('views.domains.add_domain'), new_user_domain_path, class: "button is-primary" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= t('views.domains.name') %></th>
      <th><%= t('views.domains.qr_codes_amount') %></th>
      <th><%= t('views.domains.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @user_domains.each do |user_domain| %>
      <tr class="table-row">
        <td><%= user_domain.name %></td>
        <td><%= user_domain.qr_codes.count %></td>
        <td>
          <div class="buttons has-addons">
            <%= link_to t('views.domains.edit'), edit_user_domain_path(user_domain), class: 'button is-warning' %>
            <%= link_to t('views.domains.destroy'), user_domain, class: 'button is-danger', method: :delete, data: { confirm: t('views.domains.confirm_destroy') } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
