<%= form_with(model: qr_code) do |form| %>
  <div class="field">
    <%= form.label :destination, t('views.qr_codes.your_link'), class: "label" %>
    <div class="control">
      <%= form.text_field :destination, class: "input", autofocus: true %>
    </div>
    <%= form.label :domain, class: "label mt-3" %>
    <div class="is-block">
      <%= button_tag type: "button",
                     class: "button is-info is-fullwidth",
                     data: {
                      controller: "modal",
                      action: "click->modal#open",
                      modal_id: "domainSelectModal"
                     } do %>
        <span id="currentDomain" class="domain"><%= request.base_url %></span>
        <span class="icon">
          <i class="fas fa-caret-down"></i>
        </span>
      <% end %>
      <div id="domainSelectModal" class="modal">
        <%= content_tag :div, nil, class: "modal-background", data: {
          controller: "modal",
          action: "click->modal#close",
          modal_id: "domainSelectModal"
        } %>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title"><%= t('views.qr_codes.select_domain_or_add_new') %></p>
            <%= button_tag type: "button",
                           class: "delete",
                           aria: { label: "close" },
                           data: {
                            controller: "modal",
                            action: "click->modal#close",
                            modal_id: "domainSelectModal"
                           } %>
          </header>
          <section class="modal-card-body">
            <div class="columns is-centered">
              <div class="column is-half">
                <div class="control">
                  <%= form.label :domain, class: "label" %>
                  <div class="select is-multiple is-fullwidth">
                    <% opts = options_for_domain(current_user)%>
                    <%= form.select :domain, opts, {},
                      {
                        multiple: true,
                        size: opts.size,
                        data: {
                          action: 'change->domain-select#handleChange',
                          controller: 'domain-select'
                        }
                      } %>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
            <%= button_tag t('views.qr_codes.close'), type: "button",
                                    class: "button is-info is-fullwidth",
                                    data: {
                                     controller: "modal",
                                     action: "click->modal#close",
                                     modal_id: "domainSelectModal"
                                    } %>
            <%= link_to t('views.qr_codes.add_custom_domain'),
                        new_user_domain_path,
                        class: "button is-link" %>
            <%= button_tag t('views.qr_codes.select_this_domain'),
                           type: "button",
                           class: "button is-success is-fullwidth",
                           data: {
                            controller: "modal",
                            action: "click->modal#close",
                            modal_id: "domainSelectModal"
                           } %>
          </footer>
        </div>
        <%= button_tag type: "button",
                       class: "modal-close is-large",
                       aria: { label: "close" },
                       data: {
                        controller: "modal",
                        action: "click->modal#close",
                        modal_id: "domainSelectModal"
                       } %>
      </div>
    </div>
  </div>
  <% if qr_code.errors.any? %>
    <div class="notification is-danger" id="error_explanation">
      <p><%= pluralize(qr_code.errors.count, t('views.qr_codes.error')) %> <%= t('views.qr_codes.prohibited_saving_qr_code') %>:</p>

      <ul>
        <% qr_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit t('views.qr_codes.create_qr_code'), class: "button is-primary is-fullwidth" %>
  </div>
<% end %>
