<aside class="menu">
  <ul class="menu-list">
    <p class="menu-label">
      <%= t('views.navigation.qr_code_generator_service') %>
    </p>
    <li><%= link_to t('views.navigation.qr_codes'), qr_codes_path %></li>
    <li><%= link_to t('views.navigation.your_domains'), user_domains_path %></li>
    <li><%= link_to t('views.navigation.api_keys'), api_keys_path %></li>
    <li><%= link_to t('views.navigation.settings'), edit_user_registration_path %></li>
    <li><%= link_to t('views.navigation.sign_out'), destroy_user_session_path, :method => :delete %></li>
  </ul>
</aside>