<!DOCTYPE html>
<html>
  <head>
    <title>QRCodeGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="columns">
      <div class="column pl-5 pt-6">
        <%= render partial: 'layouts/menu' %>
      </div>
      <div class="column is-three-quarters pr-5 pt-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
