<!DOCTYPE html>
<html>
  <head>
    <title>QRCodeGenerator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/d1261e54e7.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <%= render partial: 'layouts/authorized_body' %>
    <% else %>
      <%= render partial: 'layouts/unauthorized_body' %>
    <% end %>
  </body>
</html>
